
name: Deploy and Test Splitter

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy_test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      # Runs a single command using the runners shell
      - name: Build Application and Test Containers
        run: docker compose build

      - name: Deploy Application and Test Containers
        run: docker compose up -d

      - name: Run Splitter Tests
        run:  docker compose exec tests pytest -v

      - name: Save Test Artifacts
        uses: actions/upload-artifact@v4.3.1
        with:
          name: test_artifacts
          path: test_artifacts
        continue-on-error: true

          
      - name: Test Summary
        uses: test-summary/action@v2.3
        with:
          paths: test_artifacts/test_results.xml
        continue-on-error: true

      - name: Create Report bundle
        run: |
            ls test_artifacts
            pwd
            cp test_artifacts/report.html html_report_pkg
      - name: Upload Test Report HTML
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          name: test-report
          path: html_report_pkg
        continue-on-error: true
    
  deploy_report:
    environment:
      name: github-pages
      url: ${{ steps.deploy_page.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: deploy_test
    steps:
    
      - name: Deploy to GitHub Pages
        id: deploy_page
        uses: actions/deploy-pages@v4.0.5

      # - name: Get Historical Allure Reports
      #   uses: actions/checkout@4.1.7
      #   with:
      #     ref: gh-pages
      #     path: gh-pages

      # - name: Process Allure Report
      #   uses: simple-elf/allure-report-action@master
      #   with:
      #     allure_results: allure-results
      #     allure_history: allure-history
      #     gh_pages: gh-pages
      #     keep_reports: 10
      #     #subfolder:
      # - name: Deploy report to Github pages
      #   uses: peaceiris/actions-gh-pages@v2
      #   env:
      #     PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     PUBLISH_BRANCH: gh-pages
      #     PUBLISH_DIR: allure-history
      #store test artifacts
      #deploy allure report
      #test summary
      #report complete at end
      # - name: Create Allure Report directory name
      #   run: |
      #     echo "result_dir_name=tests-results-`date +%Y%m%d%H%M%%S`" >> $GITHUB_ENV"

#      - name: Make Allure directory
#        run: mkdir ${{ env.result_dir_name }}
#
#      - name: Generate Portable Allure HTML Report from Allure
#        run
      # - name: Create Test Summary
      #   uses: test-summary/action@v2
      #   with:
      #     paths: junit-report.xml
      #   continue-on-error: true
      # -


      # Runs a set of commands using the runners shell
    #   - name: Run a multi-line script
    #     run: |
    #       echo Add other actions to build,
    #       echo test, and deploy your project.
    # deploy-pages:
    #   needs: deploy
    #   runs-on: ubuntu-latest
    #   environment:
    #    name: github-pages
    #    url: ${{ steps.deployment.outputs.page_url }}
    #   steps:
    #     - name: Deploy to GitHub Pages
    #       id: deployment
    #       uses: actions/deploy-pages@v4
