
name: Deploy and Test Splitter
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch so each version of the application is tested
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Application and Test Containers
        run: docker compose build

      - name: Deploy Application and Test Containers
        run: docker compose up -d

      - name: Run Splitter Tests
        run:  docker compose exec tests pytest -v

      - name: Save Test Artifacts
        uses: actions/upload-artifact@v4.3.1
        with:
          name: test_artifacts
          path: test_artifacts
        continue-on-error: true
          
      - name: Test Summary
        uses: test-summary/action@v2.3
        with:
          paths: test_artifacts/test_results.xml
        continue-on-error: true

      - name: Create Report bundle
        run: cp test_artifacts/report.html html_report_pkg
      - name: Upload Test Report HTML
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          name: test-report
          path: html_report_pkg
        continue-on-error: true
    
  deploy_report:
    needs: deploy_test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    environment:
      name: test-report
      url: ${{ steps.deploy_page.outputs.page_url }}
    permissions:
     contents: read
     pages: write
     id-token: write
    steps:
    
      - name: Deploy to GitHub Pages
        id: deploy_page
        uses: actions/deploy-pages@v4.0.5
        with:
         artifact_name: test-report
